
<mat-card class="center-card">
    <mat-card-content class="center-card-content">Luni</mat-card-content>
    <mat-card-content class="center-card-content">-</mat-card-content>
    <mat-card-content class="center-card-content">Marti</mat-card-content>
    <mat-card-content class="center-card-content">-</mat-card-content>
    <mat-card-content class="center-card-content">Miercuri</mat-card-content>
    <mat-card-content class="center-card-content">-</mat-card-content>
    <mat-card-content class="center-card-content">Joi</mat-card-content>
    <mat-card-content class="center-card-content">-</mat-card-content>
    <mat-card-content class="center-card-content">Vineri</mat-card-content>
  <div class="container">
    <hr class="horizontal-line">
  </div>
  <mat-card-content class="center-card-rezumat">Total:</mat-card-content>
  <mat-card-content class="center-card-rezumat">KCalorii consumate:</mat-card-content>
  
  
  
  </mat-card>